:root {
	--colors-blue-800: #2F85E7;
	--color-grey: #303030;
}
*, *:hover, *:active{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Gilroy, sans-serif;
	font-size: 16px;
	font-style: normal;
}
.container {
	width: 1400px;
	margin: 0 auto;
}
.navbar {
	position: relative;
	height: 83px;
	/* width: 100%; */
	

}
.navbar_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
}
.navbar_wrapper, .links, .social_icons, .logo_text {
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
}
.logo_text {
	color: #303030;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 28.8px */
	text-transform: uppercase;
}
.logo_svg {
	position: absolute;
	left: 90px;
	top: -20px;
}
.links{
	white-space: nowrap;
	height: 22px;
	width: 428px;
	gap: 32px;
	list-style-type: none;
	transition: all .3s;
}
.link a {
	display: inline-block;
	width:69px;
	text-decoration: none;
	color: var(--color-grey);
	font-weight: 400;
	line-height: 140%; /* 22.4px */
	transition: all .3s;
}
/* .social_icons {
	text-align: center;
} */
.link a:hover, .link a:active {
	color: var(--colors-blue-800, #2F85E7);
	font-weight: 600;

}
.social .social_icons{
	column-gap: 16px;
	cursor: pointer;
}


.social_icons img:hover {
	transform: scale(1.1);
}
  /* ////////////////// */

.phone a {
	position: absolute;
	top: 14px;
	left: 134px;
  } 
.number_text a {
	display: inline-block;
	text-decoration: none;
	color: var(--color-grey, #303030);
	margin-left: 16px;
	font-size: 18px;
	font-weight: 700;
	line-height: 140%; /* 25.2px */

}
.line {
	width: 1920px;
	height: 1px;
	background: #EFEFEF;
}

.header {
	height: 697px;
	margin-left: 78px;
}
.header_left{
	display: flex;
	position: relative;

}
.line-v {
	width: 1px;
	height: 20px;
	background: #C2BEBE;
	/* margin: 0 16px 0 16px; */
}
.left_inner {
	cursor: pointer;
	margin-top: 125px;
	display: inline-flex;
	padding: 12px 14px;
	align-items: center;
	gap: 16px;
	border-radius: 100px;
	background: #FFF;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
}

.left_inner h3 {
	color: var(--colors-blue-800);
	font-size: 24px;
	font-weight: 600;
	
}
.left_text {
	display: inline-block;
	position: absolute;
	top: 211px;
	
}
.left_text h1 {
	color: var(--color-grey, #303030);
	font-size: 58px;
	font-weight: 800;
	margin-bottom: 52px;
}
.left_text p {
	color: var(--color-grey, #303030);
	width: 547px;
	line-height: 120%; /* 19.2px */
	padding-bottom: 32px;
}
.left_text span {
	font-weight: 600;
}
.left_text-svg {
	stroke-width: 3px;
	stroke: #CDDCFB;
	position: absolute;
	top: -34px;
	left: 178px;
	z-index: -1;
}

.btn {
	display: inline-block;
	width: 236px;
	padding: 18px 20px;
	text-align: center;
	border-radius: 100px;
	background: #2F85E7;
	box-shadow: 0px 4px 12px 0px rgba(142, 176, 245, 0.25);
	text-decoration: none;
	color: #FFF;
	font-weight: 700;
	transition: all .4s;
}
.header_right {
	position: relative;
	/* margin-left: 500px; */
}
.header_right_wrapper {
	position: absolute;
	top: -127px;
	left: 47%;
	width: 719px;
	height: 684px;
	flex-shrink: 0;
	background: url('img.png') center no-repeat;
}
.right_social {
	position: relative;
	margin-top: 107px;
	margin-left: 97px;
	width: 189px;
	height: 146px;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.right_social-items  {
	position: relative;

}
.right_social-items img{
	padding: 8px;
	border-radius: 30px;
	background: #FFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	transition: all .4;
}

.item {
	cursor: pointer;
	margin-left: 20px;
	position: absolute;
	z-index: 1;
}
.right_social-items img:hover {
	transform: translateY(-2px) scale(1.1);
}
.item2 {
	left: 30px;
	z-index: 3;
}
.item3 {
	left: 60px;
	z-index: 4;

}
.item4 {
	left:90px;
	z-index: 5;

}
.right_social p {
	color: #2F85E7;
	padding: 20px 0 12px 20px;


}
/* .work.work.work.work.work.work.work.work */
.work {
	margin-left: 78px;
	position: relative;
}
.work_left h2 {
	margin-top: 69px;
	margin-bottom: 52px;
	width: 279px;
	height: 137px;
	color: var(--color-grey, #303030);
	font-size: 58px;
	font-weight: 800;
}
.work_svg svg{
	position: absolute;
	top: -100px;
	left: -335px;
	z-index: -1;
}

.work_right {
	position: absolute;
	width: 1170px;
	height: 367px;
	border-radius: 500px 0px 0px 500px;
	background: #DFEBFF;
	top: -72px;
	left: 440px;
}


.work_right {
	display: flex;
}

.right_inner-flex {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	
}
.right_text span{
	color: #2F85E7;
	font-weight: 600;

}
.right_text {
	margin-left: 20px;
	white-space: nowrap;
	
}
.right_text p{
	color: #303030;
	font-size: 20px;
	font-weight: 600;

}

.right_inner_item {
	margin-left: 100px;
}
.right_inner_item-svg {
	position: relative;
}
.right_inner_item-svg img:last-child {
	position: absolute;
	top: 20px;
	left: 20px;
}






.list_work {
	width: 377px;
	height: 196px;
}
.list_work li {
	margin-left: 32px;
	color: #303030;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 10px;
}
.right_inner2 span {
	color: #2F85E7;
	font-size: 24px;
	font-weight: 600;
	line-height: 120%; /* 28.8px */
}
.right_inner2 p {
	color: #303030;
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
}
.work_text {
	display: flex;
	margin-bottom: 24px;
}

.right_inner2 {
	margin-top: 59px;
	position: absolute;
	top: 10px;
	left: 450px;
}
/* price */
.text-align-center {
	width: 100%;
	text-align: center;
	margin-bottom: 159px;
}
.price {
	width: 100%;
	margin-bottom: 154px;
}
.price h2 {
	padding-top: 140px;
	margin-bottom: 59px;
	text-align: center;
	margin: 0 auto;
	width: 223px;
	height: 76px;
	color: var(--color-grey, #303030);
	font-size: 58px;
	font-weight: 800;

}
.price_wrapper {
	display: flex;
}

.item_card-text {
	display: flex;
	gap: 28px;
}
.left {
	width: 107px;
	color: #6C6C6C;
	font-weight: 400;
	line-height: 20px; 
	white-space: nowrap;
}
.right{
	width: 103px;
	color: #2F85E7;
	text-align: right;
	font-size: 20px;
	font-weight: 600;
	line-height: 120%; 
}
.item_card {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 205px;
	border-radius: 25px;
	border: 1px solid #DAE6FE;
	background: #FFF;
}
.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -40px;
	left: 92px;
	width: 88px;
	height: 88px;
	background: #FFF linear-gradient(135deg, rgba(195, 223, 255, 0.67) 16.64%, rgba(223, 235, 255, 0.00) 84.32%);
	stroke-width: 1px;
	stroke: #A1CDFF;
	border-radius: 100%;
}
.item_card-text {
	padding-top:  20px;
}
.svg_icon {
	width: 44px;
	height: 44px;
	text-align: center;
}
.btn_price {
	display: inline-block;
	position: absolute;
	top: 178px;
	right: 66px;
	width: 160px;
	height: 50px;
	padding: 14px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background: #2F85E7;
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
	transition: all .4s;
}
.btn_price:hover, .btn_about:hover, .btn:hover{
	background-color: #A1CDFF;
	color: black;
	transform: translateY(-2px);
  }
.item_card h4 {
	width: 232px;
	color: #303030;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 18px;
	padding-top: 14px;
}
.price_wrapper-item {
	margin-left: 75px;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
}
/* consultationconsultationconsultation */

.consultation {
	border: 3px solid #DFEBFF;
	border-radius: 25px;
	height: 381px;
	background:  linear-gradient(180deg, #DFEBFF 0%, rgba(255, 255, 255, 0.00) 100%);
	stroke-width: 4px;
	stroke: #CFDEFB;
	margin-bottom: 200px;
}
.consultation_text{
	margin: 0 auto;
	width: 600px;
	padding-top: 40px;
	margin-bottom: 52px;
	position: relative;
	text-align: center;
}
.consultation_text h2 {
	color: var(--color-grey, #303030);
	font-size: 58px;
	position: relative;
	z-index: 2;
	padding-bottom: 8px;
	/* border-bottom: 2px dotted #2F85E7; */
	font-weight: 800;
}

.consultation_text h3{
	color: #2F85E7;
	position: relative;
	font-size: 58px;
	font-weight: 800;
	z-index: 2;
}
.svg_consultation {
	position: absolute;
	top: 20px;
	left: 200px;
	width: 810.645px;
	height: 395.565px;
	transform: rotateY(19deg);
	flex-shrink: 0;
	stroke-width: 3px;
	stroke: #FFF;
	z-index: 1;
}

.number_wrapper {
	display: flex;
	justify-content: space-around;
	width: 85%;
	margin: 0 auto;

}
.number_wrapper_item {
	width: 232px;
	color: #2F85E7;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 120%; /* 28.8px */
}
.number_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

hr {
	border:none;
	border-bottom:2px dotted #2F85E7;
	color:#fff;
	background-color:#fff;
	height:1px;
	width: 20%;
	text-align: center;
  }
  /* "consultation_cards"> */
 
  .consultation_cards {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	text-align: center;
	width: 100%;
	
  }
  .consultation_card {
	position: relative;
	top: 60px;
	left: 10px;
	width: 280px;
	height: 168px;
	border-radius: 25px;
	border: 1px solid #DAE6FE;
	background: #FFF;
	
  }
  .consultation_card-text {
	width: 232px;
	height: 57px;
	margin: 68px 24px 0 24px ;
	color: #303030;
	line-height: 120%; /* 19.2px */
}
  .consultation_card-svg {
	position: absolute;
	top: -45px;
	left: 90px;
	width: 88px;
	height: 88px;
	border-radius: 100%;
	stroke-width: 1px;
	background-color: #FFff;
	outline: 3px solid  #DAE6FE;
  }
  .consultation_card-svg svg {
	display: flex;
	width: 100%;
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-30% , -30%);
 	
}
/* "about""about"/ */


/* "about_wrapper-right */

.about_wrapper{
	position: relative;
	text-align: center;
	padding-top: 195px;
	margin-right: 150px;
	background:url('me_about.png') center no-repeat;
	border-radius: 300px 300px 0px 0px;
	z-index: 8;
}
.about_wrapper-left {
	margin-left: 100px;
	position: relative;
	z-index: 5;
	width: 368px;
	height: 546px;
	background: linear-gradient rgba(217, 217, 217, 0.00) ;


}
 .item_frime1 {
	position: absolute;
	top: -10px;
	right: 450px;
	display: inline-flex;
	padding: 14px;
	align-items: flex-start;
	gap: 10px;
	border-radius: 8px;
	background: #FFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }
 .item_frime2 {
	display: inline-flex;
	position: absolute;
	top: 180px;
	left: 238px;
	padding: 20px;
	align-items: flex-start;
	gap: 10px;
	border-radius: 100px;
	background: #2F85E7;
	z-index: -5;
 }
 .item_frime3{
	display: flex;
	position: absolute;
	top: 280px;
	left: -100px;
	width: 197px;
	height: 76px;
	flex-shrink: 0;
	border-radius: 8px;
	background: #FFF;
	box-shadow: 0px 4px 4px 0px rgba(114, 125, 147, 0.14);
 }
 .item_frime3-text {
	width: 97px;
	height: 36px;
	text-align: left;
	margin: 20px 8px 20px 14px;
	color: #2F85E7;
	font-size: 14px;
	font-weight: 400;
	line-height: 120%; /* 16.8px */
 }
.item_frime3-text p {
	width: 97px;
	white-space: nowrap;
	margin-bottom: 5px;
}
.item_frime3-text span{
	font-weight: 700;
}
 .item_frime3-img {
	position: relative;
	margin: 8px 0 0 8px;
 }
 .item_frime3-img .hat {
	position: absolute;
	top: 20px;
	left: 15px;
 } 




.about_wrapper, .about {
	display: flex;

}
.consultation_text-about {
	width: 680px;
	height: 142px;
	text-align: left;
	white-space: nowrap;
}
.text_about {
	width: 580px;
	color: #303030;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
}
.text_about span {
	font-weight: 700;

}
.text_about {
	position: relative;
	display: inline-block;
	margin-top: 52px;
	
}
.btn_about {
	margin-top: 32px;
	transition: all .4s;
}
.text_about-svg svg{
	position: absolute;
	top: 2383px;
	left: 100px;
	z-index: -1;

}
/* materials */

.materials h2 {
	margin: 0;
	margin-bottom: 52px;
	color: var(--color-grey, #303030);
	font-size: 58px;
	font-weight: 800;
}
.materials_wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
}
.background {
	position: relative;
	width: 380px;
	height: 235px;
	flex-shrink: 0;
	border-radius: 25px;
	margin-bottom: 24px;
	transition: all .3s;
	cursor: pointer;
}
.background1 {
background: linear-gradient(231deg, rgba(224, 235, 254, 0.76) 6%, rgba(255, 255, 255, 0.29) 72.27%), url('Rectangle1.png'), lightgray 50% / cover no-repeat; 

}
.background2 {
	background: linear-gradient(231deg, rgba(224, 235, 254, 0.76) 6%, rgba(255, 255, 255, 0.29) 72.27%), url('Rectangle2.png'), lightgray 50% / cover no-repeat; 
	}
.background3 {
		background: linear-gradient(231deg, rgba(224, 235, 254, 0.76) 6%, rgba(255, 255, 255, 0.29) 72.27%), url('Rectangle3.png'), lightgray 50% / cover no-repeat; 
		
}


.materials_item h4 {
	width: 380px;
	color: #303030;
	font-size: 20px;
	font-weight: 600;
	line-height: 120%; /* 24px */
	margin-bottom: 16px;
}
.materials_item p {
	max-width: 380px;
	min-height: 57px;
	display: inline-block;
	margin-bottom: 24px;
	color: #303030;
}
.materials_item a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	margin-bottom: 150px;
}
.background:hover {
	transform: scale(1.01) translateY(-2px);
}
.materials_item a:hover{
	color: black;
}
.block_item1 {
	display: inline-flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	margin-top: 180px;
	margin-left: 24px;
	gap: 10px;
	border-radius: 100px;
	background: #FFF;
	backdrop-filter: blur(7px);
	color: #303030;
	font-weight: 300;
	line-height: 20px; /* 125% */
}
.block_item2 {
	display: flex;
	position: absolute;
	top: 180px;
	left: 122px;
	padding: 10px;
	width: 116px;
	height: 40px;
	justify-content: center;
	align-items: center;
	gap: 9px;
	border-radius: 100px;
	background: #FFF;
	backdrop-filter: blur(7px);
}
.block_item2-number {
	color: #C2BEBE;
}
.block_item2-number span {
	color: #2F85E7;
	font-weight: 400;
	line-height: 20px; /* 125% */
}
/* footerfooterfooterfooterfooter */
.footer {
	width: 1922px;
	height: 439px;
	flex-shrink: 0;
	background: #DFEBFF;
}
.footer_wrapper {
	display: flex;
	margin-left: 90px;
}
.logo_text-footer {
	margin-top: 73px;
	margin-bottom: 42px;
	margin-right: 300px;
}
.footer_p {
	margin-bottom: 23px;
	width: 380px;
	color: #303030;
	font-size: 14px;
	line-height: 120%; /* 16.8px */
}
logo_text-footer p{
	color: #303030;
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
}
.span {
	display: inline-block;
	margin-bottom: 10px;
	color: #303030;
	font-size: 14px;
	font-weight: 700;
}
.copy {
	margin-top: 42px;
	color: #6C6C6C;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
}

.footer_social {
	margin-top: 80px;
	margin-left: 30px;
}
.footer_social_h4{
	margin-bottom: 40px;
}
.social_a {
	margin-bottom: 59px;
}
.social_gorisontal-items {
	display: flex;
}
.social_a a{
	display: flex;
	text-align: center;
	align-items: center;
	padding-bottom: 16px;
	text-decoration: none;
	color: #303030;
	font-size: 16px;

}
.footer_h4{
	display: inline-block;
	width: 189px;
	height: 19px;
	white-space: nowrap;
	color: #2F85E7;
	margin-bottom: 16px;

}
.social_a div{
	width: 10px;
}
.social_gorizont{
	display: flex;
	flex-direction: column;
	

}
.soc {
	display: flex;
}
.soc  {
	column-gap: 14px;
}
.viber{
	position: relative;
}
.viber a {
	position: absolute;
	left: 12px;
	top: 12px;
}
.telegram {
	position: relative;

}
.telegram a {
	position: absolute;
	left: 0px;
	top: 0px;
}
.instagram {
	position: relative;

}
.instagram a {
	position: absolute;
	left: 10px;
	top: 9px;
}
.youtube {
	position: relative;

}
.youtube a {
	position: absolute;
	left: 10px;
	top: 9px;
}
/* form  */
.form_h4 {
	margin-bottom: 34px;
	color: #303030;
	font-size: 20px;
	font-weight: 600;
	line-height: 120%; /* 24px */
}
.form {
	margin-top: 80px;
	margin-left: 229px;
	display: flex;
	flex-direction: column;
}
.form input {
	width: 380px;
	height: 47px;
	padding: 14px;
	align-items: center;
	gap: 10px;
	border-radius: 100px;
	border: 1px solid #2F85E7;
	background: #FFF;
	margin-bottom: 20px;
}
.form input:last-child {
	border-radius: 100px;
	background: #2F85E7;
	box-shadow: 0px 4px 12px 0px rgba(142, 176, 245, 0.25);
	color: #FFF;
	font-weight: 700;
}